<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <h2><%= book.title %></h2>
        <p><%= book.description%></p>
        <h4><%= book.author %></h4>
        <p><%= book.year_published %></p>
        <p><%= book.category %></p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body> 
</html>