<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <form action="/api/books/search" method="GET">
        <label for="search">Search book title</label>
        <input 
            type="search"
            id="search"
            name="title"
            placeholder="Search by title..."
        >
        <button>Search</button>
    </form>
    <form action="/api/books/search" method="GET">
        <label for="search">Search for author(s)</label>
        <input 
            type="search"
            id="search"
            name="author"
            placeholder="Search by author(s)..."
        >
        <button>Search</button>
    </form>
    <div>
        <div>
            <% if(filteredBooks != null){ %>
                <% filteredBooks.forEach(book => { %>
                <a href="/api/books/<%= book.id %>">
                    <h3><%= book.title %></h3>
                    <h4><%= book.author %></h4>
                    <p><%= book.year_published %></p>
                    <p><%= book.category %></p>
                </a>
                <% }) %>
            <% } else { %>
                <p>No books available</p>
            <% } %>
        </div>
    </div>
    <a href="/">Back to home page</a>
    <%- include('./partials/footer.ejs') %>
</body>
</html>





