<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div>
                <img src="/<%= bookCoverImage %>" alt="<%= book.title %>">
                <p id="book-id" hidden><%= book.id %></p>
                <h2>
                    <%= book.title %>
                </h2>
                <h4 >
                    <%= book.author %>
                </h4>
                <p>
                    <%= book.description%>
                </p>
                <span>
                    <b>Year: </b>
                    <%= book.year_published %>
                </span>
                <span>
                    <b>Category:</b>
                    <%= book.category %>
                </span>
                <span>
                    <b>ISBN 13:</b>
                    <%= book.ISBN %>
                </span>
            </div>

            <div>
                <span>Rent</p>
                    <span>$</span><span id="book-price">
                        <%= book.price %>
                    </span>
                    <% if(user) { %>
                        <button id="cart-btn" >Add to cart</button>
                    <% } else { %>
                        <a href="/api/auth/login"><button id="cart-btn-2">Add to cart</button></a>
                    <% } %>
            </div>

            <p><a href="/">Back</a></p>

            <%- include('./partials/footer.ejs') %>
    </body>

    <script src="/js/addToCart.js"></script>