<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/search.ejs') %>

            <div>
                <p>Cart</p>
                <% if(!cart) {%>
                    <p>Cart is empty</p>
                    <% } else { %>
                        <img src="/<%= bookDetails.book_cover_path.slice(11) %>" alt="<%= bookDetails.title %>">
                        <span><%= bookDetails.title %></span>
                        <span>Quantity: <%= cart.quantity_array[0] %></span>
                        <button>Remove</button>
                        <span>Total Cost: <%= cart.cost %></span>
                        <% } %>
            </div>

            <p><a href="/">Back</a></p>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>