<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <%- include('./partials/search.ejs') %>

                <div>
                    <%- include('./books.ejs') %>
                </div>

                <%- include('./partials/footer.ejs') %>
    </body>

</html>